.accordion-box .block .acc-btn.active .icon-outer,
.blog-details .post-options .social-links li a:hover,
.btn-style-five:hover,
.btn-style-four:hover,
.btn-style-one,
.btn-style-three,
.btn-style-two:hover,
.call-to-action,
.contact-section .contact-info li:hover .icon-box,
.default-shop-item .inner-box .image-box .item-sale-tag,
.default-shop-item .inner-box .image-box .overlay-box .cart-btn,
.error-section .search-website .form-group input:focus+button,
.fancybox-next:hover span:before,
.fancybox-prev:hover span:before,
.feature-style-1 .company .nav li a:focus,
.feature-style-1 .company .nav li.active a,
.fluid-section-two .owl-next:hover,
.fluid-section-two .owl-prev:hover,
.info-block-one .inner-box:hover .icon-box,
.main-footer .newsletter-widget button,
.main-footer .newsletter-widget input[type=submit],
.main-footer .social-links a:hover,
.main-menu .navbar-header .navbar-toggle,
.main-slider .tp-bullets.preview3 .bullet.selected,
.member-style-two .overlay-box .social-links li a:hover,
.news-style-two .overlay-box .link-box:hover .fa,
.onoffswitch-checkbox:checked+.onoffswitch-label,
.onoffswitch-label,
.post-filter li span:before,
.project-details .project-progress .bar-inner,
.project-details .social-links li a:hover,
.rangeslider-widget button,
.rangeslider-widget button .error-section .search-website .form-group button:hover,
.scroll-to-top,
.scroll-to-top:hover,
.sidebar .download-list li a,
.sidebar .popular-tags a:hover,
.sidebar .search-box .form-group button,
.skills-box .skill-column .skill-bar .bar-inner .bar,
.skills-box.style_2 .skill-column .skill-bar .bar-inner .bar,
.sponsors-style-two .tooltip-inner,
.sticky-header .main-menu .navigation>li.current-menu-item>a,
.styled-pagination li a.active,
.styled-pagination li a:hover,
.switcher .switch_btn button,
.team-details .project-progress .bar-inner,
.team-details .social-links li a:hover,
.testimonial .testimonial-item .content span,
.testimonial-style-two .owl-dots .owl-dot span:before,
.theme_bg_color {
    background: #feae11
}

.main-slider .tp-bullets.preview3 .bullet.selected,
.main-slider .tp-bullets.preview3 .bullet:hover {
    background: #feae11 !important
}

.btn-style-five,
.btn-style-four:hover,
.btn-style-one:hover,
.btn-style-three:hover,
.cart-table tbody tr .remove-btn:hover,
.checkout-page .default-links li a,
.contact-section .contact-info li .icon-box,
.default-service-block .icon-box,
.default-shop-item .inner-box .lower-content h3 a:hover,
.featured-post .read-more:hover,
.featured-post h3 a:hover,
.fluid-section-one .left-column .info-list li .icon,
.footer-upper .twitter-feeds .feed a,
.info-block-one .inner-box .read-more:hover,
.main-footer .news-widget .news-item h4 a:hover,
.main-footer .popular-posts .post-meta li a,
.main-footer .popular-posts .post-meta li a i,
.main-footer .popular-posts .text a:hover,
.main-header .header-top-one .social-links li a:hover,
.main-header .header-top-one .top-links ul li a:hover,
.main-header .search-box-btn:hover,
.main-header.header-style-three .info-box .icon-box,
.main-menu .navigation>li.current-menu-item>a,
.main-menu .navigation>li.current>a,
.main-menu .navigation>li:hover>a,
.main-menu .navigation>li>ul>li:hover>a,
.main-slider .tp-caption .theme-btn.btn-style-one:hover,
.main-slider .tp-caption .theme-btn.btn-style-three:hover,
.member-style-two .lower-box h4 a:hover,
.news-style-one .content-box h3 a:hover,
.news-style-two .lower-box h3 a:hover,
.page-title .bread-crumb-outer .bread-crumb li a:hover,
.page-title .bread-crumb-outer .bread-crumb li.active,
.post-filter li.active span,
.post-filter li:hover span,
.prod-tabs .add-review .rating .rate-box:active,
.prod-tabs .add-review .rating .rate-box:focus,
.prod-tabs .add-review .rating .rate-box:hover,
.prod-tabs .reviews-container .rating,
.prod-tabs .tab-btns .tab-btn.active-btn,
.product-details .basic-details .details-header .item-price,
.product-details .basic-details .item-meta a,
.sidebar .best-sellers .item .rating,
.sidebar .best-sellers .item a:hover,
.sidebar .list li a:hover,
.sidebar .popular-posts .post-meta li a i,
.sidebar .popular-posts .text a:hover,
.sidebar .service-list li a:hover,
.sidebar .service-list li.current a,
.sticky-header .main-menu .navigation>li.current>a,
.sticky-header .main-menu .navigation>li:hover>a,
.team-member .lower-box h4 a:hover,
.team-member .social-links li a:hover,
.team-section .owl-nav .owl-next:hover,
.team-section .owl-nav .owl-prev:hover,
.testimonial .testimonial-item .rating,
.testimonial-style-four .author-info .designation,
.testimonial-style-one .carousel-content .slide .icon-box,
.testimonial-style-one .carousel-pager .pager .designation,
.testimonial-style-three .owl-next:hover,
.testimonial-style-three .owl-prev:hover,
.testimonial-style-three .slide .icon-box,
.testimonial-style-two .author-info .designation,
.testimonial-style-two .slide .icon-box,
.theme-color,
.theme_color,
.thm-color:before,
.tweets-section.style-two .owl-nav .owl-next:hover,
.tweets-section.style-two .owl-nav .owl-prev:hover,
a {
    color: #feae11
}

.border-color,
.btn-style-five,
.btn-style-one,
.btn-style-three,
.btn-style-two:hover,
.comment-form .form-group input[type=email]:focus,
.comment-form .form-group input[type=password]:focus,
.comment-form .form-group input[type=tel]:focus,
.comment-form .form-group input[type=text]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.contact-section .contact-info li .icon-box,
.contact-section h2:after,
.contact-section h2:before,
.default-form input:focus,
.default-form select:focus,
.default-form textarea:focus,
.fluid-section-one .left-column .info-list li .icon,
.fluid-section-one .left-column .title h3:after,
.fluid-section-one .right-column .title h3:after,
.main-header .search-box-outer .dropdown-menu,
.main-header .search-panel input:focus,
.main-header .search-panel select:focus,
.main-menu .navbar-header .navbar-toggle,
.main-menu .navigation>li>ul,
.main-slider .tp-bullets.preview3 .bullet,
.prod-tabs .tab-btns .tab-btn.active-btn,
.product-details .basic-details .quantity-spinner:focus,
.rangeslider-widget .noUi-handle,
.rangeslider-widget button,
.sec-title h2:after,
.sec-title h2:before,
.service-block2 .inner-box .image-box .overlay-box,
.sidebar .search-box .form-group input:focus,
.sidebar-widget .sidebar-title h3:after,
.sidebar-widget .sidebar-title h3:before,
.team-member:hover .inner-box,
figure.effect-bubba figcaption::after,
figure.effect-bubba figcaption::before {
    border-color: #feae11
}

.main-slider .tp-bullets.preview3 .bullet {
    border-color: #feae11 !important
}

.sponsors-style-two .tooltip.top .tooltip-arrow {
    border-top-color: #feae11
}